$fontSize: 19px;
$lineWidth: 2px;
$lineColor: #ccc;
$backgroundColor: #fff;
$xPadding: 10px;

* {
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 300px;

  h1,
  h2,
  h3 {
    margin: 0;
  }
  header {
    left: 0;
    right: 0;
    top: 0;
    background-color: #85ffbd;
    position: relative;
    & .singOutBtn {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      padding: 0.1rem;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 800;
      background-color: rgb(255, 33, 33);
      border: 0.3rem solid black;
      border-radius: 0.5rem;
      max-width: 7ch;
      font-family: "roboto", sans-serif;
      color: white;
    }
  }
  h1 {
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    color: rgb(0, 0, 0);
    background-color: black;
    border-radius: 2.5rem;
    font-style: oblique;
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  }

  footer {
    background-color: rgba(153, 228, 79, 0.644);
  }

  option {
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
  }

  textarea {
    min-height: 250px;
    max-width: 100%;
    font-size: $fontSize;
    border: none;
    background-attachment: local;
    background-image: linear-gradient(
        to right,
        $backgroundColor,
        $backgroundColor $xPadding,
        transparent $xPadding
      ),
      linear-gradient(
        to left,
        $backgroundColor,
        $backgroundColor $xPadding,
        transparent $xPadding
      ),
      repeating-linear-gradient(
        $backgroundColor,
        $backgroundColor $fontSize * 2-$lineWidth,
        $lineColor $fontSize * 2-$lineWidth,
        $lineColor $fontSize * 2
      );
    line-height: $fontSize * 2;
    padding: $fontSize/3 $xPadding;
    resize: none;
    height: 100%;
  }
  select {
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.705);
    text-transform: uppercase;
  }
}
