.select h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

.containerAddTask {
  margin: 1rem 0 0 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.551);
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
  & h3 {
    font-size: 1.5rem;
  }
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: inset 0 0 0.5em 9px #0000003d;
  }
}
.toDoAppContainerWrapper {
  background-color: #0093e9;
  background-image: linear-gradient(5deg, #0093e9 0%, #80d0c7 100%);
  min-height: calc(100vh - 5rem);
}
.toDoAppContainer {
  padding: 1rem;
  max-width: 1600px;
  margin: auto;
}
.task {
  background-color: rgba(252, 252, 252, 0.614);
  margin: 5px 0;
  padding: 0 0.5rem 0 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 3rem 1fr 1rem rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 1rem;
  padding: 0.8rem;
  align-items: center;
  justify-items: start;
  text-transform: uppercase;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1rem;
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: inset 0 0 0.5em 9px #0000003d;
  }
}
.taskCompleted {
  background-color: rgba(84, 28, 28, 0.584);
  color: #fff;
  & .categoryIcon {
    color: rgb(156, 126, 240);
  }
  & .completed {
    background-color: rgb(156, 126, 240);
    &:hover {
      color: rgb(110, 60, 249);
      border-color: rgb(110, 60, 249);
    }
  }
}

.categoryIcon {
  grid-row: 1;
  grid-column: 1;
  font-size: 2rem;
  color: rgba(201, 14, 14, 0.8);
  display: flex;
  margin: auto;
  svg {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
  }
}
.title {
  grid-row: 1;
  grid-column: 2/6;
  max-height: 4.5rem;
  overflow-y: hidden;
}
.description {
  max-height: 4.5rem;
  grid-column: 1/6;
  grid-row: 2;
  font-size: 0.9rem;
  overflow-y: hidden;
}

.time {
  grid-row: 4;
  text-align: right;
  grid-column: 1/6;
}
.icon {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.icon:hover {
  background-color: white;
  color: green;
  transition: 0.3s;
}
.create {
  background-color: red;
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 10%;

  &:hover {
    background-color: white;
    color: red;
    transition: 0.3s;
    border: solid 10px red;
  }
}

.completed {
  grid-column: 1/3;
  grid-row: 3;

  background-color: rgba(41, 227, 41, 0.849);
  border-radius: 1rem;

  &:hover,
  :focus svg {
    color: green;
    transition: 0.5s;
    border-color: green;
  }
}

.more {
  grid-row: 3;
  grid-column: 4/6;
  background-color: rgb(64, 137, 247);
  border-radius: 1rem;
  &:hover svg {
    color: red;
    transition: 0.5s;
  }
  &:hover {
    background-color: white;
  }
}

.active {
  grid-row: 3;
  grid-column: 2;
  background-color: blue;
  &:hover {
    color: blue;
    transform: rotate(-180deg);
    transition: 0.5s;
  }
}

span.task {
  display: flex;
}
@media only screen and (min-width: 576px) {
  .task {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4rem 1fr 4rem;
  }
  .categoryIcon {
    & svg {
      width: 3rem;
      height: 3rem;
    }
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1.3rem;
  }
  .icon {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .icon {
    border: white 2px solid;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .task {
    grid-template-columns: 5% 20% 1fr 6rem 5rem 5rem;
    grid-template-rows: 1fr 1fr;
  }
  .categoryIcon {
    display: inline-block;
    font-size: 2rem;
    grid-row: 1/3;
  }

  .active {
    grid-column: 6;
    grid-row: 1/3;
  }

  .time {
    display: block;

    grid-row: 1/3;
    grid-column: 4;
  }
  .title {
    grid-row: 1/3;
    grid-column: 2;
    font-size: 1.3rem;
    overflow-x: hidden;
  }
  .description {
    display: block;
    font-size: 0.8rem;
    grid-column: 3;
    grid-row: 1/3;
    overflow-block: hidden;
  }
  .completed {
    grid-column: 6;
    grid-row: 1/3;
  }
  .more {
    grid-column: 5;
    grid-row: 1/3;
  }
}
