.view {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: inset 0 0 0.5em 9px #0000003d;
  }
}
.innerView {
  background-color: white;
  height: 90vh;
  width: 90vw;
  border-radius: 1rem;
  justify-content: flex-start;
  display: grid;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto 5fr 1fr;
  .cancel {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
    z-index: 101;
    & button {
      height: 3rem;
      width: 3rem;
      background-color: rgb(254, 82, 82);
      color: white;
      border-color: white;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }
  & button {
    height: 100%;
  }

  label {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem 0;
  }

  label.title {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    grid-row: 1;
    grid-column: 1/3;
  }

  input.title {
    margin: 0 1rem;
    font-size: 2rem;
    height: 100%;
    grid-row: 2;
    grid-column: 1/3;
    border: none;
    border-bottom: 2px solid black;
  }

  label.categories {
    margin-top: 1rem;
    margin-left: 1rem;
    grid-row: 3;
    grid-column: 1;
  }
  select.categories {
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    grid-row: 3;
    grid-column: 2;
    & option {
      svg {
        font-size: 0.5rem;
      }
    }
  }

  label.description {
    position: relative;
    grid-row: 4;
    grid-column: 1/3;
  }
  textarea.description {
    font-size: 1.2rem;
    grid-row: 5;
    grid-column: 1/3;
  }

  button.edit {
    grid-row: 6;
    font-size: 3rem;
    grid-column: 1;
    background-color: rgb(21, 188, 207);
    border-bottom-right-radius: 0;
  }
  button.remove {
    grid-row: 6;
    font-size: 3rem;
    background-color: rgb(32, 181, 42);
    grid-column: 2;
    border-bottom-left-radius: 0;
  }

  button.add {
    grid-row: 6;
    grid-column: 1/3;
    font-size: 3rem;
    background-color: green;
  }
  button.add:disabled {
    background-color: gray;
    color: white;
  }
  button.modify {
    grid-row: 6;
    background-color: greenyellow;
    font-size: 3rem;
    grid-column: 1;
    border-bottom-right-radius: 0;
  }
  button.reset {
    grid-row: 6;
    font-size: 2.5rem;
    grid-column: 2;
    background-color: red;
    border-bottom-left-radius: 0;
  }
}

.view select {
  font-size: 1.5rem;
}
.viewUp {
  position: fixed;
  bottom: 0;
  grid-template-rows: 0 0 0 1fr 5fr 1fr;

  label.title,
  input.title,
  label.categories,
  select.categories {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .view {
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
    margin: 1rem auto;
    width: 100%;
    .viewUp {
      position: static;
      bottom: auto;
      margin: auto;
      label.title,
      input.title,
      label.categories,
      select.categories {
        display: block;
      }
    }
    & .innerView {
      max-height: 600px;
      grid-template-rows: auto auto 60% auto;
      grid-template-columns: 10% 40% 20% 30%;

      label.title {
        grid-row: 1;
        grid-column: 1;
      }
      input.title {
        grid-row: 1;
        grid-column: 2;
      }

      label.categories {
        grid-row: 1;
        grid-column: 3;
      }
      select.categories {
        grid-row: 1;
        grid-column: 4;
      }
    }
    .cancel {
      display: none;
    }

    label.description {
      grid-row: 2;
      grid-column: 1/5;
    }
    textarea.description {
      grid-row: 3;
      grid-column: 1/5;
    }

    button.edit {
      grid-row: 4;
      grid-column: 3/5;
      width: 100%;
    }
    button.remove {
      display: block;
      grid-row: 4;
      grid-column: 1/3;
      width: 100%;
    }

    button.add {
      display: block;
      grid-row: 4;
      grid-column: 1/5;
    }
    button.modify {
      grid-row: 4;
      grid-column: 1/3;
    }
    button.reset {
      grid-row: 4;
      grid-column: 3/5;
    }
  }
}
